@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
.card-img-top {
  position: relative;
  float: left;
  width: 100px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.card {
  box-shadow: 0 0 80px -10px black; }

.logo {
  height: 200px;
  display: flex;
  align-content: center;
  justify-content: center; }

h1 {
  text-align: center;
  font-family: 'Graduate', sans-serif;
  text-shadow: 3px 3px 3px; }

h5 {
  font-family: 'graduate', sans-serif; }

.centro {
  padding-top: 100px;
  padding-bottom: 100px; }

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.logrosList {
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url(../IMG/copa2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .logrosList ul {
    font-size: 1.5em;
    text-align: center;
    color: #cbddf6;
    text-shadow: black;
    list-style-type: none; 
  }
  .logrosList h2 {
    font-size: 3em;
    text-align: center;
    color: white;
    text-shadow: black; }

.creador {
  font-size: 0.8em;
  text-align: center; }

.firmaDiego {
  height: 100px; }

.nav {
  font-size: 2.5rem;
  font-family: 'graduate', sans-serif; }

.artLeyenda{
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url(../IMG/logrosSeleccion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.artLeyenda h2{
   font-size: 3em;
   color: rgba(105, 148, 228, 0.863);
   align-items: center;

   
  
  


}
.artLeyenda p{
  color: azure;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;

}